MYSQL_ROOT_PASSWORD=changeme_root
DB_NAME=blockverse
DB_USER=blockverse
DB_PASS=changeme_app

JWT_SECRET=changeme_replace_with_a_very_long_random_secret_value

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
